#HeaderPanel {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#0433ff),color-stop(100%,#0020AD));
    background-image: -webkit-linear-gradient(top,#0433ff,#0020AD);
    background-image: -moz-linear-gradient(top,#0433ff,#0020AD);
    background-image: -ms-linear-gradient(top,#0433ff,#0020AD);
    background-image: -o-linear-gradient(top,#0433ff,#0020AD);
    background-image: linear-gradient(top,#0433ff,#0020AD);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0433ff', endColorstr='#0020AD',GradientType=0 ); /* IE6-9 */
}

#HeaderPanel-Inside {
    background-image: url("crosshatch20.png");
    background-repeat: repeat;
}

#HeaderPanel-Title {
    padding: 12px 10px 13px 31px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

#HeaderPanel-Credits {
    padding: 12px 10px 13px 31px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}